.models-page {
    height: ~"calc(100vh - @{header-height})";

    overflow: hidden;

    padding: 0 3.2rem;

    @media (max-width: #pxToEm(1000)[]) {
        padding: 0;
    }
    @media (min-width: @page-margin-breakpoint) {
        height: ~"calc(100vh - @{header-height} - 6.4rem)";
        max-height: 90rem;
    }

    &__content {
        #display-12-grid();
        max-width: @grid-width;
        margin: 0 auto;
        height: 100%;
        width: 100%;

        @media (max-width: #pxToEm(1000)[]) {
            gap: 0;
        }
    }

    &__models {
        grid-column: span 3;

        overflow-y: auto;

        background-color: @colors[grey-40];

        padding: 1.6rem;

        #respond-tab-port({
            position: fixed;
            top: @header-height;
            left: 0;
            z-index: 25;

            transition: all .2s;

            transform: translateX(-100%);

            height: ~"calc(100vh - @{header-height})";
            width: 24.8rem;

            &--opened {
                transform: translateX(0);
            }
        });

        // width
        &::-webkit-scrollbar {
            width: 1.2rem;
        }

        // track
        &::-webkit-scrollbar-track {
            background: darken(@colors[grey-40], 8%);
        }

        // handle
        &::-webkit-scrollbar-thumb {
            background: @colors[grey-60];

            &:hover {
                background: darken(@colors[grey-60], 5%);
            }
        }
    }

    &__models-button {
        display: none;
        font-size: 0;

        position: fixed;
        top: @header-height;
        left: 0;
        z-index: 25;

        width: 4rem;
        height: 4rem;

        background-color: @colors[secondary];
        border: none;
        opacity: .8;

        cursor: pointer;

        transition: all .2s;

        #respond-tab-port({
            display: block;
        });

        &:hover {
            opacity: 1;
        }

        svg {
            #center-pos-abs();

            width: 2.4rem;
            height: 2.8rem;
            fill: @colors[grey-80];
        }

        &--checked {
            transform: translateX(24.8rem);

            svg {
                transform: translate(-50%, -50%) scaleX(-1);
            }
        }
    }

    &__viewport {
        grid-column: span 9;

        padding: 3.2rem 0;

        height: 100%;

        overflow: visible;

        @media (max-width: #pxToEm(1000)[]) {
            padding: 0;
        }
        #respond-tab-port({
            grid-column: span 12;
        })
    }
}