.home-intro-section {
    padding: 0 3.2rem;

    height: ~"calc(100vh - @{header-height})";
    max-height: 100rem;

    background-color: #EFE8E2;
    background-image: url("../../css-images/HomeIntroBackground.svg");
    background-size: cover;

    position: relative;

    overflow: hidden;

    #respond-phone({
        padding: 0 2.4rem;

        min-height: ~"calc(100vh - @{header-height})";
        max-height: none;
        height: auto;

        display: flex;
        align-items: center;
    });

    &::before, &::after {
        content: "";
        display: block;

        background-image: url("../../css-images/HomeIntroSideIllustration.svg");
        background-repeat: no-repeat;
        background-size: contain;

        height: 100%;
        width: 100%;

        position: absolute;
        top: 0;

        @media (max-width: #pxToEm(1390)[]) {
            display: none;
        }
        @media (max-width: #pxToEm(1000)[]) {
            display: block;
        }
        #respond-tab-port({
            display: none;
        });
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
        transform: rotate(180deg);
    }

    &__container {
        position: relative;
        max-width: @grid-width;
        margin: 0 auto;

        height: 100%;

        padding: 3.2rem 0;

        z-index: 10;

        #display-12-grid();
        align-items: center;
    }

    &__content {
        grid-column: span 7;
        z-index: 20;

        @media (max-width: #pxToEm(1000)[]) {
            grid-column: span 12;
            text-align: center;
            margin: 0 auto;
            max-width: 70rem;
        }
    }

    &__canvas {
        grid-column: span 5;
        height: 100%;
        max-height: 44.8rem;

        position: relative;

        @media (max-width: #pxToEm(1000)[]) {
            display: none;
        }

        canvas {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            height: 125%;
            width: 125%;
        }
    }

    &__buttons {
        display: flex;
        gap: 2.4rem;

        @media (max-width: #pxToEm(1000)[]) {
            justify-content: center;
        }
    }
}

.photo-composition {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.6rem;

    position: relative;

    @media (max-width: #pxToEm(1000)[]) {
        display: none;
    }

    &::before, &::after {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: @colors[primary-light];
    }
    &::before {
        width: .4rem;
        height: 100%;
    }
    &::after {
        width: 100%;
        height: .4rem;
    }

    &__photo {
        height: 22rem;

        img {
            object-fit: cover;

            width: 100%;
            height: 100%;
        }
    }
}

.chapter-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3.2rem;

    #respond-tab-port({
        grid-template-columns: repeat(2, minmax(0, 1fr));
    });
    @media (max-width: #pxToEm(660)[]) {
        grid-template-columns: 100%;
        column-gap: 0;
    }
}

.home-models-section-image-side {
    #respond-tab-port({
        display: none;
    });
}