<%- include("../../includes/tutorial-page-start.ejs", { title: "Typy ovládání", activePage: "typy-ovladani" }) %>
    <h1 class="heading-primary u-mb-6">Typy ovládání</h1>
    <p class="paragraph u-mb-2">V této části si ukážeme, jak můžeme s canvasem provádět interakci. Myslím si že by jste byli schopni si pro interakci s canvasem něco naprogramovat. Mohli byste si například vytvořit event listener na stisknutí kláves a třeba pomocí nich na scéně posouvat nějaký objekt. Three.js nám ale pro interakci se scénou poskytuje pár užitečných typů ovládání. Takže si je v této části projdeme, abyste o nich věděli a v případě potřeby je mohli použít.</p>
    <p class="paragraph u-mb-2">Tato ovládání nejsou součástí THREE objektu, který si do našeho JavaScriptu importujeme, jelikož je všichni uživatelé nepotřebují. Budeme si je tedy vždy muset naimportovat samostatně. Odkud něco naimportovat se vždy můžete dočíst v dokumentaci v části source.</p>
    <img src="../../static/img/documentation-source-info.png" alt="část source ve Three.js dokumentaci" class="centered-image u-mb-4">
    <h2 class="heading-secondary u-mb-2">Arcball Controls</h2>
    <p class="paragraph u-mb-2"></p>
<%- include("../../includes/tutorial-page-end.ejs") %>