<%- include("../../includes/tutorial-page-start.ejs", { title: "Načítání", activePage: "nacitani" }) %>
    <h1 class="heading-primary u-mb-6">Načítání</h1>
    <p class="paragraph u-mb-2">V této části si ukážeme, jak můžeme ve Three.js lépe řídit načítání.</p>
<%- include("../../includes/tutorial-page-end.ejs") %>