                        </main>
                    </div>
                </div>
            <footer class="footer">Tento web vytvořil <a href="https://jirkasa.github.io/" target="_blank" class="footer__link">Jiří Satora</a></footer>
        </div>
    </body>
</html>