<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.2, minimum-scale=1.0">

    <% if (typeof noCode == 'undefined') { %>
        <script src="../../js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    <% } %>

    <title><%= title %> | Three.js Návod</title>
</head>
<body>
    <div class="page">
        <header class="header">
            <div class="header__content">
                <a href="../../" class="header__title">Three.js Návod</a>
                <nav class="header__navigation">
                    <ul>
                        <li><a href="../co-je-threejs/" class="header__navigation-item header__navigation-item--active">Tutoriál</a></li>
                        <li><a href="../../3d-modely/" class="header__navigation-item">3D Modely</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="article">
            <div class="article__container">
                <nav class="article__sidebar">
                    <ul class="navigation">
                        <li><a href="../co-je-threejs/" class="navigation__item">Co je Three.js</a></li>
                        <li><a href="../prvni-scena/" class="navigation__item">První scéna</a></li>
                    </ul>
                </nav>
                <main class="article__content">