<%- include("../../includes/tutorial-page-start.ejs", { title: "Textury", activePage: "textury" }) %>
    <h1 class="heading-primary u-mb-6">Textury</h1>
    <p class="paragraph u-mb-4"></p>
<%- include("../../includes/tutorial-page-end.ejs") %>