.dat-gui {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;

    overflow-y: visible !important;

    background-color: @colors[primary-dark] !important;

    .cr-number {
        border-color: @colors[primary-dark] !important;
    }

    .close-button {
        background-color: @colors[grey-80] !important;
    }
}