.navigation {
    list-style: none;

    position: sticky;
    top: @header-height;

    padding: 1.6rem;

    overflow-y: auto;
    max-height: ~"calc(100vh - @{header-height})";

    // width
    &::-webkit-scrollbar {
        width: 1.2rem;
    }

    // track
    &::-webkit-scrollbar-track {
        background: lighten(@colors[grey-40], 5%);
    }

    // handle
    &::-webkit-scrollbar-thumb {
        background: @colors[grey-60];

        &:hover {
            background: darken(@colors[grey-60], 5%);
        }
    }

    li:not(:last-child) {
        margin-bottom: .8rem;
    }

    &__item {
        &:link, &:visited {
            display: block;

            font-size: 2rem;
            line-height: 2.4rem;

            text-transform: uppercase;
            text-decoration: none;

            padding: 1.2rem 1.6rem;

            border: .2rem solid @colors[grey-80];
            color: @colors[grey-80];

            outline-color: @colors[grey-80];
        }

        &:hover, &--active:link, &--active:visited, &:focus-visible {
            background-color: @colors[primary];
        }
    }
}